.wrapper {
  background: transparent;
  border-radius: 12px;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  height: min-content;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  width: 100%;
  height:min-content;
  gap: 9px;
  overflow-x: hidden;
  flex-shrink: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item {
  background-image: radial-gradient(farthest-corner at 45% 60%,rgba(238, 231, 255, 0.01), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.03), rgba(193, 164, 255, 0.08), rgba(229, 218, 255, 0.15));
  backdrop-filter: blur(20px);
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 12px 12px;
  border-radius: 8px;
  border: 1px solid rgba(229, 218, 255, 0.15);
  width: -webkit-fill-available;
  box-shadow: inset -1px 1px 2px -1px rgba(229, 218, 255, 0.25)
}

.item:hover{
  background-image: radial-gradient(farthest-corner at 45% 60%,rgba(238, 231, 255, 0), rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.01), rgba(193, 164, 255, 0.05), rgba(229, 218, 255, 0.1));
  backdrop-filter: blur(20px);
}


.symbol {
  font-weight: 700;
  font-size: 20px;
  color: #0d0d14;
}

.price {
  font-size: 13px;
  color: rgba(13, 13, 20, 0.65);
}


.change {
  font-size: 13px;
  font-weight: 600;
}

.up {
  color: #5fa077;
}

.down {
  color: #bc5151;
}

:global(.dark) .symbol {
  font-weight: 700;
  font-size: 20px;
  color: #c2c5cd;
}

:global(.dark) .price {
  font-size: 13px;
  color: #c2c5cd;
}

@media (max-width: 1024px) {
  .list {
    gap: 8px 12px;
  }
}
