.tableWrap {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
  color: rgba(13, 13, 20, 0.50);
  border-bottom: 1px solid rgba(91, 106, 212, 0.22);
}

.row {
  border-bottom: 1px solid #798290;
}

.row:hover {
  background: #f5f6ff;
}

.td {
  padding: 12px 16px;
  color: #0d0d14;
}

.tdSymbol {
  padding-left:15px;
  font-weight: 600;
  color: #0d0d14;
}

.positive {
  color: #166534;
}

.negative {
  color: #991b1b;
}

.empty {
  padding: 32px;
  text-align: center;
  color: rgba(13, 13, 20, 0.50);
  font-size: 14px;
}


:global(.dark) .th {
  text-align: left;
  padding: 12px 16px;
  font-weight: 600;
  color: #c2c5cd;
  border-bottom: 1px solid #e5e7eb;
}

:global(.dark) .row {
  border-bottom: 1px solid #798290;
}

:global(.dark) .row:hover {
  background: #2c4a745d;
}

:global(.dark) .td {
  padding: 12px 16px;
  color: #c2c5cd;
}

:global(.dark) .tdSymbol {
  padding-left:15px;
  font-weight: 600;
  color: #c2c5cd;
}

:global(.dark) .positive {
  color: #5fa077;
}

:global(.dark) .negative {
  color: #bc5151;
}


:global(.dark) .empty {
  padding: 32px;
  text-align: center;
  color: #c2c5cd;
  font-size: 14px;
}