.switch {
    background: #c3afff16;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #8a8aff5b;
    box-shadow: inset 1px 1px 20px -1px rgba(116, 93, 207, 0.209);
    border-radius: 6px;
    color: #8383b6;
}

.switch:hover {
    background: #e3daff0a;
    box-shadow: inset 1px 1px 20px -1px rgba(118, 103, 173, 0.349);
}

.switchactive {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #826ea8;
    box-shadow: inset 1px 1px 20px -1px rgba(128, 111, 255, 0.527);
    background: #c0b9e6a0;
    color: #0d0d14;

}

:global(.dark) .switch {
    background: #c3afff16;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #bfd5ff5b;
    box-shadow: inset 1px 1px 20px -1px rgba(193, 178, 255, 0.209);
    border-radius: 6px;
    color: white;
}

:global(.dark) .switch:hover {
    background: #c3afff0a;
    box-shadow: inset 1px 1px 20px -1px rgba(160, 147, 207, 0.209);
}

:global(.dark) .switchactive {
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #3b5b9c;
    box-shadow: inset 1px 1px 20px -1px rgba(16, 0, 78, 0.534);
    background: #2c4975;

}