
.card {
  position: relative;
  background-image: radial-gradient(farthest-corner at 45% 60%,rgba(61, 177, 255, 0.01),
   rgba(99, 143, 255, 0.02), rgba(150, 194, 255, 0.05), rgba(0, 30, 255, 0.08), rgba(76, 0, 255, 0.15));
  border-radius: 12px;
  padding: 20px;
  display: flex;
  gap: 16px;
  align-items: center;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  border: 1px solid rgba(77, 151, 255, 0.15);
  box-shadow: inset -1px 1px 2px -1px rgba(0, 4, 235, 0.25)
}

.iconBox {
  width: 48px;
  height: 48px;
  background-color: #f3f4f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.label {
  color: #0d0d14;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 1;
  min-width: 0;
}

.value {
  font-size: 24px;
  font-weight: 700;
  color: #0d0d14;
}

.valueBalance {
  overflow-wrap: anywhere;
  word-break: break-word;
  max-width: 100%;
}

/* Badges */
.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
}

.green {
  background-color: #dcfce7;
  color: #166534;
}

.red {
  background-color: #fee2e2;
  color: #991b1b;
}

:global(.dark) .card {
  position: relative;
  background-image: radial-gradient(farthest-corner at 45% 60%,rgba(110, 144, 152, 0.075), rgba(176, 216, 228, 0.09), rgba(198, 170, 255, 0.11), rgba(228, 205, 255, 0.125), rgba(227, 175, 255, 0.25));
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  gap: 16px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.127);
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  box-shadow: inset -2px 1px 5px -1px rgba(255, 255, 255, 0.209);
}

:global(.dark) .iconBox {
  width: 48px;
  height: 48px;
  background-color: #f3f4f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

:global(.dark) .label {
  color: #c2c5cd;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 1;
  min-width: 0;
}

:global(.dark) .value {
  font-size: 24px;
  font-weight: 700;
  color: #c2c5cd;
}

:global(.dark) .valueBalance {
  overflow-wrap: anywhere;
  word-break: break-word;
  max-width: 100%;
}

/* Badges */
:global(.dark) .badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
  flex-shrink: 0;
}

:global(.dark) .green {
  background-color: #dcfce7;
  color: #166534;
}

:global(.dark) .red {
  background-color: #fee2e2;
  color: #991b1b;
}