
.card {
  position: relative;
  background-image: radial-gradient(farthest-corner at 45% 60%,rgba(249, 240, 255, 0.075), rgba(248, 236, 255, 0.1), rgba(248, 235, 255, 0.125), rgba(249, 237, 255, 0.150), rgba(248, 235, 255, 0.3));

  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 20px;
  /* box-shadow: 4px 4px 5px #9aa6b23c; Soft shadow like Figma */
  display: flex;
  margin-right: 5px;
  gap: 16px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.127);
  width: -webkit-fill-available;
  max-width: 30vw;
  min-width: max-content;
  height: -webkit-fill-available;
  max-height: max-content;
  box-shadow: inset -2px 1px 5px -1px rgba(255, 255, 255, 0.209)
}

.iconBox {
  width: 48px;
  height: 48px;
  background-color: #f3f4f6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.label {
  color: #c2c5cd; /* Gray text */
  font-size: 14px;
  font-weight: 500;
}

.value {
  font-size: 24px;
  font-weight: 700;
  color: #c2c5cd;;
}

/* Badges */
.badge {
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.green {
  background-color: #dcfce7;
  color: #166534;
}

.red {
  background-color: #fee2e2;
  color: #991b1b;
}