VITE_BACKEND_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=241687980875-olq1gejkll4lj3b37l24jkj1i8ofecm4.apps.googleusercontent.com
VITE_PORT=5173
VITE_RECAPTCHA_SITE_KEY=6LcgEmQsAAAAAAxMUd2kg4Ud9YF7l_aDnaKi3jB7
VITE_USER_SECRET=supersecretkey