VITE_BACKEND_URL=http://localhost:8001      # https://api.oriontrading.pro
VITE_MARKET_DATA_URL=https://localhost:8000 # https://data.oriontrading.pro
VITE_GOOGLE_CLIENT_ID=904917579142-bfj6gev8qs0sprksglb117g2dgsi9e25.apps.googleusercontent.com
VITE_PORT=5173
# reCAPTCHA site key must be from same Google console as backend's RECAPTCHA_SECRET_KEY
VITE_RECAPTCHA_SITE_KEY=6LfSXacsAAAAAK7_ozcGH2zjTBSha7aek0-IuPt0