VITE_BACKEND_URL=http://localhost:8000
VITE_GOOGLE_CLIENT_ID=241687980875-olq1gejkll4lj3b37l24jkj1i8ofecm4.apps.googleusercontent.com
VITE_PORT=5173
# reCAPTCHA site key must be from same Google console as backend's RECAPTCHA_SECRET_KEY
VITE_RECAPTCHA_SITE_KEY=6LfSXacsAAAAAK7_ozcGH2zjTBSha7aek0-IuPt0